<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="cfdiPeruOperadorServiciosElectronicos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="cfdiPeruDFactureWS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <cfdiPeruOperadorServiciosElectronicos.Properties.Settings>
            <setting name="cfdiPeruDFactureWS_pe_dfacture_ws_MetodosClient"
                serializeAs="String">
                <value>https://caja.dfacture.com.pe:8001/FacturacionPERU8001/MetodosClient.asmx</value>
            </setting>
        </cfdiPeruOperadorServiciosElectronicos.Properties.Settings>
        <cfdiPeruDFactureWS.Properties.Settings>
            <setting name="cfdiPeruDFactureWS_pe_dfacture_ws_MetodosClient"
                serializeAs="String">
                <value>http://ws.dfacture.com.pe/integracionesdemo/MetodosClient.asmx</value>
            </setting>
        </cfdiPeruDFactureWS.Properties.Settings>
    </applicationSettings>
</configuration>