<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="UrlOpenInvoicePeruApi" value="http://localhost/OpenInvoicePeru/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  
  <connectionStrings>
    <!--<add name="PER10Entities" connectionString="metadata=res://*/AdoModelGP.csdl|res://*/AdoModelGP.ssdl|res://*/AdoModelGP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.1.1.22;initial catalog=PER10;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="PER10Entities" connectionString="metadata=res://*/AdoModelGP.csdl|res://*/AdoModelGP.ssdl|res://*/AdoModelGP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.1.1.22;initial catalog=PER10;user id=sa;password=sa22;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <startup>
     <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
		<bindings>
    <basicHttpBinding>
      <binding name="BasicHttpBinding_IService" maxBufferPoolSize="20000000"
        maxBufferSize="20000000" maxReceivedMessageSize="20000000" />
    </basicHttpBinding>
  </bindings>
		<client>
			<endpoint address="http://demoint.thefactoryhka.com.pe/Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
                contract="DFactureUbl21.IService" name="BasicHttpBinding_IService" />
		</client>
  </system.serviceModel>	
</configuration>
