<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:sql="http://schemas.microsoft.com/wix/SqlExtension">

  <Product Id="78DF29B6-5BEE-42F7-88FF-43EE0F51A13A"
           Name="cfdiPeruSqlSetup"
           Language="1033"
           Version="1.0.0.0"
           Manufacturer="JCF"
           UpgradeCode="724D1740-D9EA-4E87-8185-A985FDFD11F0">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"/>
    
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
    
    <!-- Define Installation folder-->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="StartMenuFolder"/>
      <Directory Id="ProgramFilesFolder">
        <Directory Id="MainDirectory" Name="Microsoft Dynamics">
          <Directory Id="INSTALLFOLDER" Name="GP CFDI PERU sql config">
          </Directory>
        </Directory>
      </Directory>
    </Directory>


    <!-- Define Installation components-->
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="SqlComponentDyn" Guid="116E3271-192B-4ea7-8CB3-E91CDA1B8C03" KeyPath="yes">
        <sql:SqlDatabase Id="SqlDatabaseDyn" User="SQLUser" Server="[SQLSERVER]" Database="DYNAMICS" CreateOnInstall="no" DropOnUninstall="no" ContinueOnError="yes">
          <sql:SqlScript Id="Createview01" BinaryKey="Createview01" ExecuteOnInstall="yes" Sequence="30" ContinueOnError="no"/>
          <sql:SqlScript Id="Grants02" BinaryKey="Grants02" ExecuteOnInstall="yes" Sequence="1000" ContinueOnError="no"/>
        </sql:SqlDatabase>
      </Component>

      <Component Id="SqlComponent" Guid="7c32cf65-e060-4c7f-b5dd-d85c181da89c" KeyPath="yes">
        <sql:SqlDatabase Id="SqlDatabase" User="SQLUser" Server="[SQLSERVER]" Database="[SQLDATABASE]" CreateOnInstall="no" DropOnUninstall="no" ContinueOnError="yes" >
          <sql:SqlScript Id="CreateBaseView02" BinaryKey="CreateBaseView02" ExecuteOnInstall="yes" Sequence="02" ExecuteOnReinstall="yes"/>
          
          <sql:SqlScript Id="CreateFun03" BinaryKey="CreateFun03" ExecuteOnInstall="yes" Sequence="03" ExecuteOnReinstall="yes"/>
          <sql:SqlScript Id="CreateObj03" BinaryKey="CreateObj03" ExecuteOnInstall="yes" Sequence="05" ExecuteOnReinstall="yes"/>
          <sql:SqlScript Id="CreateObj10" BinaryKey="CreateObj10" ExecuteOnInstall="yes" Sequence="10" ExecuteOnReinstall="yes"/>
          <sql:SqlScript Id="Createfun010" BinaryKey="Createfun010" ExecuteOnInstall="yes" Sequence="11" ExecuteOnReinstall="yes"/>
          <sql:SqlScript Id="Createfun12" BinaryKey="Createfun12" ExecuteOnInstall="yes" Sequence="12" ExecuteOnReinstall="yes"/>
          <sql:SqlScript Id="Createtrig35" BinaryKey="Createtrig35" ExecuteOnInstall="yes" Sequence="35" ExecuteOnReinstall="yes"/>
          <sql:SqlScript Id="Createview40" BinaryKey="Createview40" ExecuteOnInstall="yes" Sequence="40" ExecuteOnReinstall="yes"/>
          <sql:SqlScript Id="Createfun50" BinaryKey="Createfun50" ExecuteOnInstall="yes" Sequence="50" ExecuteOnReinstall="yes"/>
          <sql:SqlScript Id="Createtable60" BinaryKey="Createtable60" ExecuteOnInstall="yes" Sequence="60" ExecuteOnReinstall="yes"/>
          <sql:SqlScript Id="Createtable70" BinaryKey="Createtable70" ExecuteOnInstall="yes" Sequence="70" ExecuteOnReinstall="yes"/>
          <sql:SqlScript Id="Createfun72" BinaryKey="Createfun72" ExecuteOnInstall="yes" Sequence="72" ExecuteOnReinstall="yes"/>
          <sql:SqlScript Id="Createfun75" BinaryKey="Createfun75" ExecuteOnInstall="yes" Sequence="72" ExecuteOnReinstall="yes"/>
          <sql:SqlScript Id="Createsp80" BinaryKey="Createsp80" ExecuteOnInstall="yes" Sequence="80" ExecuteOnReinstall="yes"/>
          <sql:SqlScript Id="Createview83" BinaryKey="Createview83" ExecuteOnInstall="yes" Sequence="83" ExecuteOnReinstall="yes"/>
          <sql:SqlScript Id="Createview84" BinaryKey="Createview84" ExecuteOnInstall="yes" Sequence="84" ExecuteOnReinstall="yes"/>
          <sql:SqlScript Id="Createfunc85" BinaryKey="Createfunc85" ExecuteOnInstall="yes" Sequence="85" ExecuteOnReinstall="yes"/>

          <sql:SqlScript Id="Createview90" BinaryKey="Createview90" ExecuteOnInstall="yes" Sequence="90" ExecuteOnReinstall="yes"/>
          <sql:SqlScript Id="CreateObj92" BinaryKey="CreateObj92" ExecuteOnInstall="yes" Sequence="92" ExecuteOnReinstall="yes"/>
          <sql:SqlScript Id="CreateObj94" BinaryKey="CreateObj94" ExecuteOnInstall="yes" Sequence="92" ExecuteOnReinstall="yes"/>
          <sql:SqlScript Id="Createview100" BinaryKey="Createview100" ExecuteOnInstall="yes" Sequence="100" ExecuteOnReinstall="yes"/>
          <sql:SqlScript Id="CreateObj104" BinaryKey="CreateObj104" ExecuteOnInstall="yes" Sequence="104" ExecuteOnReinstall="yes"/>
          <sql:SqlScript Id="CreateObj105" BinaryKey="CreateObj105" ExecuteOnInstall="yes" Sequence="105" ExecuteOnReinstall="yes"/>
          <sql:SqlScript Id="Grants110" BinaryKey="Grants110" ExecuteOnInstall="yes" Sequence="110" ExecuteOnReinstall="yes"/>

          <sql:SqlScript Id="CreateObj218" BinaryKey="CreateObj218" ExecuteOnInstall="yes" Sequence="218" ExecuteOnReinstall="yes"/>
          <sql:SqlScript Id="Createview220" BinaryKey="Createview220" ExecuteOnInstall="yes" Sequence="220" ExecuteOnReinstall="yes"/>
          <sql:SqlScript Id="Grants230" BinaryKey="Grants230" ExecuteOnInstall="yes" Sequence="230" ExecuteOnReinstall="yes"/>
        </sql:SqlDatabase>
      </Component>

    </ComponentGroup>

    <!--Install-->
    <Feature Id="Complete" Title="GP Factura Digital Config" Level="1" Description="Objetos sql y archivos de programa." Display="expand" ConfigurableDirectory="INSTALLFOLDER">
      <Feature Id="SqlFeatureDyn" Title="Objetos Sql Dynamics" Description="Tablas, vistas y procedimientos almacenados de Dynamics." Level="1">
        <ComponentRef Id="SqlComponentDyn" />
        <ComponentGroupRef Id="ProductComponents" />
      </Feature>

      <Feature Id="SqlFeature" Title="Objetos Sql Compañía" Description="Tablas, vistas y procedimientos almacenados de la Compañía." Level="1">
        <ComponentRef Id="SqlComponent" />
        <ComponentGroupRef Id="ProductComponents" />
      </Feature>

    </Feature>

    <Binary Id="Createview01" SourceFile="C:\jcTii\Desarrollo\PERU_FacturaElectronica\pe02\sql\001_DynObtieneBdsQueEmitenFElectronica.view.sql"/>
    <Binary Id="Grants02" SourceFile="C:\jcTii\Desarrollo\PERU_FacturaElectronica\pe02\sql\002_DynDaPermisosFacturaElectronica.grant.sql"/>

    <Binary Id="CreateBaseView02" SourceFile="C:\JCTii\GPRelational\rmvwRmTransaccionesTodas.view.sql"/>
    
    <Binary Id="CreateFun03" SourceFile="C:\jcTii\Desarrollo\PERU_FacturaElectronica\pe02\sql\003_fcfdiParametros.function.sql"/>
    <Binary Id="CreateObj03" SourceFile="C:\jcTii\Desarrollo\PERU_FacturaElectronica\pe02\sql\003_fcfdiParametrosCliente.function.sql"/>
    <Binary Id="CreateObj10" SourceFile="C:\jcTii\Desarrollo\PERU_FacturaElectronica\pe02\sql\010_cfdiCatalogo.table.sql"/>
    <Binary Id="Createfun010" SourceFile="C:\jcTii\Desarrollo\PERU_FacturaElectronica\pe02\sql\010_tii_invoice_amount_letters.function.igarcia120622.sql"/>
    <Binary Id="Createfun12" SourceFile="C:\jcTii\Desarrollo\PERU_FacturaElectronica\pe02\sql\012_fCfdObtieneImagenC.function.sql"/>
    <Binary Id="Createtrig35" SourceFile="C:\jcTii\Desarrollo\PERU_FacturaElectronica\pe02\sql\035_RegistraHoradeFacturaElectronica.trigger.sql"/>
    
    <!--Atención: Varía de acuerdo a la VERSION GP-->
    <Binary Id="Createview40" SourceFile="C:\jcTii\Desarrollo\PERU_FacturaElectronica\pe02\sql\040_ObtieneConfiguracionCartasEmail.viewgp2013oAnt.sql"/>
    <!--<Binary Id="Createview40" SourceFile="C:\jcTii\Desarrollo\PERU_FacturaElectronica\pe02\sql\040_ObtieneConfiguracionCartasEmail.viewGP2015.sql"/>-->
    
    <Binary Id="Createfun50" SourceFile="C:\jcTii\Desarrollo\PERU_FacturaElectronica\pe02\sql\050_ObtieneDireccionesCorreoClientes.function.sql"/>
    <Binary Id="Createtable60" SourceFile="C:\jcTii\Desarrollo\PERU_FacturaElectronica\pe02\sql\060_OPCIONALCreaMaestroDeCertificadosYFolios.table.sql"/>
    <Binary Id="Createtable70" SourceFile="C:\jcTii\Desarrollo\PERU_FacturaElectronica\pe02\sql\070_CreaLogFacturaElectronica.table.sql"/>
    <Binary Id="Createfun72" SourceFile="C:\jcTii\Desarrollo\PERU_FacturaElectronica\pe02\sql\072_fcfdDatosXmlParaImpresion.function.sql"/>
    <Binary Id="Createfun75" SourceFile="C:\jcTii\Desarrollo\PERU_FacturaElectronica\pe02\sql\075_vwCfdiDatosDelXml.view.sql"/>
    <Binary Id="Createsp80" SourceFile="C:\jcTii\Desarrollo\PERU_FacturaElectronica\pe02\sql\080_ABMcfdLogFacturaXML.sprocedure.sql"/>
    <Binary Id="Createview83" SourceFile="C:\jcTii\Desarrollo\PERU_FacturaElectronica\pe02\sql\083_UtilesYConfiguracion.view.sql"/>
    <Binary Id="Createview84" SourceFile="C:\jcTii\Desarrollo\PERU_FacturaElectronica\pe02\sql\084_fCfdEmisor.function.sql"/>
    <Binary Id="Createfunc85" SourceFile="C:\jcTii\Desarrollo\PERU_FacturaElectronica\pe02\sql\085_fCfdDatosAdicionales.function.sql"/>
    <Binary Id="Createview90" SourceFile="C:\jcTii\Desarrollo\PERU_FacturaElectronica\pe02\sql\090_vwCfdiSopTransacionesVenta.view.sql"/>
    <Binary Id="CreateObj92" SourceFile="C:\jcTii\Desarrollo\PERU_FacturaElectronica\pe02\sql\092_FCFDIoBTIENEuuid.function.sql"/>
    <Binary Id="CreateObj94" SourceFile="C:\jcTii\Desarrollo\PERU_FacturaElectronica\pe02\sql\094_fCfdiRelacionados.functions.sql"/>
    <Binary Id="Createview100" SourceFile="C:\jcTii\Desarrollo\PERU_FacturaElectronica\pe02\sql\100_ObtieneDocumentosXml.view.sql"/>
    <Binary Id="CreateObj104" SourceFile="C:\jcTii\Desarrollo\PERU_FacturaElectronica\pe02\sql\104_fCfdiObtieneNumResumenDiario.function.sql"/>
    <Binary Id="CreateObj105" SourceFile="C:\jcTii\Desarrollo\PERU_FacturaElectronica\pe02\sql\105_ObtieneResumenDiario.view.sql"/>

    <Binary Id="Grants110" SourceFile="C:\jcTii\Desarrollo\PERU_FacturaElectronica\pe02\sql\110_cfdiDaPermisos.grant.sql"/>
    
    <!--Reportes y permisos STANDARD-->
    <Binary Id="CreateObj218" SourceFile="C:\jcTii\Desarrollo\PERU_FacturaElectronica\pe02\rep\Sql\18_fnCfdiGuiaRemision.function.sql"/>
    <Binary Id="Createview220" SourceFile="C:\jcTii\Desarrollo\PERU_FacturaElectronica\pe02\rep\Sql\20_tii_sopinvoice.view.sql"/>
    <Binary Id="Grants230" SourceFile="C:\jcTii\Desarrollo\PERU_FacturaElectronica\pe02\rep\Sql\30_tii_sopinvoice.grant.sql"/>

    <util:User Id="SQLUser" Name="[SQLUSER]" Password="[SQLPASSWORD]"></util:User>
    <!--Variables SQL-->
    <Property Id="SQLUSER">sa</Property>
    <Property Id="SQLPASSWORD">password</Property>
    <Property Id="SQLSERVER">servidor\instancia</Property>
    <Property Id="SQLDATABASE">bd</Property>

    <UI Id="MyWixUI_Mondo">
      <UIRef Id="WixUI_Mondo"/>

      <!--Pide valores para variables SQL-->
      <DialogRef Id="UserRegistrationDlg"/>

      <Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="UserRegistrationDlg" Order="4">WixUI_InstallMode = "Change"</Publish>
      <Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="UserRegistrationDlg" Order="5">WixUI_InstallMode = "InstallCustom"</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="UserRegistrationDlg" Order="5">WixUI_InstallMode = "InstallCustom"</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="UserRegistrationDlg" Order="6">WixUI_InstallMode = "Change"</Publish>
    </UI>

    <UIRef Id="WixUI_ErrorProgressText" />

  </Product>
</Wix>
