<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="UrlOpenInvoicePeruApi" value="http://localhost/OpenInvoicePeru/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  
  <connectionStrings>
    <add name="PER10Entities" connectionString="metadata=res://*/AdoModelGP.csdl|res://*/AdoModelGP.ssdl|res://*/AdoModelGP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.1.1.22;initial catalog=PER10;user id=sa;password=sa22;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <startup>
     <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
